* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    width: 60px;
    height: 60px;
}

.avatar {
    width: 80px;
    height: 80px;
}

.container {
    width: 300px;
    border: 1px solid red;
}